#button__top {
    display: inline-block;
    background-image: url(../img/arrow.png);
    background-size: cover;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 60px;
    right: 60px;
    /* transition: background-color .3s,  */
      /* opacity .5s, visibility .5s; */
    opacity: 0;
    /* visibility: hidden; */
    z-index: 1000;
  }
 
  #button__top:hover {
    cursor: pointer;
    /* background-color: #333; */
  }

  #button__top.show {
    opacity: 1;
    visibility: visible;
  }
  
  /* Styles for the content section */
  
 